# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.log

# dependencies
/node_modules
/.pnp
.pnp.js
*-lock.json
yarn.lock

# testing
/coverage

# production
/build
localization/obj
localization/bin
localization/packages
localization/SILTranscriberTranslations.zip
localization/az/*
localization/hi/*
localization/nl/*
localization/tl/*

# misc
.eslintcache
.DS_Store
.env.local
.env.*.local
.auth0*
auth0-variables.json
localization/.vscode
localization/.vs
buildDate.json
/public/fonts
/public/electronExtensions.js
env-config/env-files*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify to support cross platform development
amplify/.config/project-config.json
# vim
*.sw*

#amplify
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/#current-cloud-backend/amplify-meta.json
amplify/*/hosting/S3AndCloudFront/amplify-meta.json
amplify/*/hosting/S3AndCloudFront/parameters.json
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
