Source: audio-project-manager
Section: sound
Priority: optional
Maintainer: Greg Trihus <greg_trihus@sil.org>
Build-Depends: libsecret-1-dev
Standards-Version: 4.5.0
Homepage: https://www.audioprojectmanager.org
Vcs-Git: git://github.com/sillsdev/transcriber.git
Vcs-Browser: http://github.com/sillsdev/transcriber/

Package: audio-project-manager
Architecture: all
Depends: xchm
Recommends:
Description: Audio Project Manager (APM) is the next generation Bible
 translation tool for those implementing an oral strategy in their Bible
 translation project. APM serves as a bridge between high-quality tools like 
 Paratext and Render, providing teams the flexibility to utilize the strengths
 of each tool in a way that serves them best.
   Audio Project Manager helps with managing files for personal or collaborative
 team projects. Projects can be Scripture content or more general content. Each team can customize a workflow for their projects including steps like internalization, recording, term review, peer review, community checking, whole and phrase back translations, consultant review, transcription of the
 vernacular or the back translations, syncing content into a Paratext project, and or exporting the content for use in other applications.

