.data-grid-container .data-grid .cell {
  vertical-align: middle;
  text-align: left;
  text-indent: 5pt;
}
.data-grid-container .data-grid .cell.set {
  background-color: lightgreen;
}
.data-grid-container .data-grid .cell.num {
  text-align: center;
}
