.data-grid-container .data-grid .cell {
  vertical-align: middle;
  text-align: left;
  padding-left: 5pt;
  padding-right: 5pt;
}
.data-grid-container .data-grid .cell.set {
  background-color: lightgreen;
}
.data-grid-container .data-grid .cell.num {
  text-align: center;
}

.data-grid-container .data-grid .cell.num > input {
  text-align: center;
  padding: 10px;
}

.data-grid-container .data-grid .cell.pass {
  text-align: left;
}

.data-grid-container .data-grid .cell.pass > input {
  text-align: left;
  padding: 10px;
}
