#TaskTable[data-list='true'] table {
  min-width: 372px !important;
}

#TaskTable[data-list='true'] thead {
  display: none;
}

#TaskTable .MuiListItem-root {
  padding: 0 16px;
}

#TaskTable .MuiList-root {
  padding: 0;
}

#TaskTable colgroup col:first-child {
  width: 1px !important;
}

#TaskTable[data-list='true'] colgroup col:first-child {
  width: 370px !important;
}
